[mysql-proxy]
admin-address=127.0.0.1:3001
plugin-dir=lib/dbproxy/plugins/
config-xml=etc/mysql-proxy.xml
plugins=proxy,admin
admin-username=proxyadmin
admin-password=proxysecret
admin-lua-script=lib/dbproxy/lua/admin.lua
pid-file=var/log/mysql-proxy.pid
log-file=var/log/mysql-proxy.log
log-level=warning
#log-level=debug
keepalive=true
daemon=true
event-threads=16
max-open-files=60000
max-core-size=unlimited
dbproxy-collation=utf8_bin
